* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #c4c5b9;
  color: #333;
}

/* Header Section */
header {
  border: 2px solid black;
  background-color: rgba(94, 95, 160, 0.678);
  width: 45%;               /* reduced width of the big box */
  margin: 15px auto;        /* centers the header box */
  padding: 15px;
  text-align: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.circle-image {
 width: 150px;
 height: 150px;
 border-radius: 50%;
 overflow: hidden;
 border: 5px solid#080101;
 margin: 20px auto;
           
 }

 .circle-image img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 display: block;
 }


.header-text {
  text-align: center;
}

header h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 0 10px;
  text-align: center;
}

nav span {
  color: rgb(18, 1, 1);
}

nav a:hover {
  color: #050f19;
}

/* Section Style */
.section {
  border: 2px solid black;
  background-color: #7488bd;
  width: 45%;               /* reduced width for sections */
  margin: 30px auto;        /* centers each big box */
  padding: 30px;
  text-align: center;
  border-radius: 2px;
}

.schools-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.school-box {
  border: 2px solid black;
  padding: 15px;
  background-color: rgb(218, 217, 211);
}

h2 {
  margin-bottom: 15px;
  color: #020407;
}



/* Responsive Design */
@media (max-width: 600px) {
  header,
  .section {
    width: 90%;  /* expand slightly on smaller screens */
  }

  .header-container {
    flex-direction: column;
  }

  .photo {
    margin-bottom: 10px;
  }

  .schools-grid {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }
}

